@import "tailwindcss";

body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #90a1b9;  
}

::-webkit-scrollbar-thumb {
  background: #020618;   
}

::-webkit-scrollbar-thumb:hover {
  background: #45556c;
}